<h1>My Tasks</h1>

<form action="#index">

  <ul class="form-inline" style="list-style: none">
    <%@tasks.each do |task| %>
    <li>
      <input type="checkbox" name="<%= task.completed %>" value=">
      <label for="title" name="title"><%= link_to task.title, tasks_path %></label>
    </li>
     <% end %>
  </ul>

</form>
