<h1>My Tasks</h1>

<form action="#index">
  <ul class="form-inline" style="list-style: none">
     <%@tasks.each do |task| %>
    <li>
      <input type="checkbox" name="<%= task.completed %>">
      <label for="title" name="<%= task.title %>">Laundry</label>
    </li>
    <% end %>
  </ul>
</form>
